@media screen and (min-width: 960px) {

	.site-header,
	.site-content {
		float: left;
		width: 50%;
	}
	
	.site-header > .wrap {
		position: relative;
	}

	.site-logo {
		margin-top: -48px;
		position: absolute;
		top: 40%;
	}
	
	.has-site-logo .site-branding {
		margin-left: 96px;
	}
	
	.rtl.has-site-logo .site-branding {
		margin-left: 0;
		margin-right: 96px;
	}
	
}

@media screen and (min-width: 1440px) {

	.post-navigation .nav-previous,
	.post-navigation .nav-next {
		width: 100%;
	}
	
}
	